# change name to .env and fill in proper values

# can be anything but do not change these after the database is built
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_ROOT_PASSWORD=

METAWIKI_KEY=
METAWIKI_SECRET=

BACKEND_URL=
DEFAULT_LOCALE=   # currently supports cs-CZ, en-US

TEMP_SUB=    # TEMPORARY: global IDs of people with authorized access
