services:
  db:
    image: mariadb:latest
    container_name: db
    ports:
      - "3306:3306"
    environment:
      MARIADB_USER: ${DATABASE_USERNAME}
      MARIADB_PASSWORD: ${DATABASE_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DATABASE_ROOT_PASSWORD}
      MARIADB_DATABASE: metrics
    healthcheck:
      test: ["CMD", "mysqladmin", "-p${DATABASE_ROOT_PASSWORD}", "ping"]
      timeout: 5s
      interval: 5s
      retries: 12

  backend:
    build: .
    container_name: server
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8080:8080"
